.section {
  width: 80%;
  margin-left: 10%;
  padding: 1rem;
}

.form {
  margin: 2rem 0;
}

.form input[type="submit"] {
  float: right;
  border: none;
  background: #1C7293;
  color: white;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
}
