.pulseNavContainer {
	width: 100%;
	height: 3rem;
	background: #1c7293;
	line-height: 3rem;
	display: flex;
	justify-content: space-between;
  flex-direction: row-reverse;
}

.pulseNav {
	margin-right: 1rem;
	display: flex;
}

.pulseNav span {
  color: #f1f2eb;
  margin: 0 1rem;
}

.pulseNav a:hover {
  border-bottom: solid 3px #fff;
}

.pulseNav a {
	text-transform: uppercase;
  font-family: Tahoma, Geneva, sans-serif;
}
