.footer {
  width: 100%;
  height: 5rem;
  background: #303841;
  padding: 1rem;
  color: #fff;
  font-family: 'Open Sans Condensed';
  letter-spacing: 1px;
  overflow: hidden;
}

.footer h4 {
  font-size: 1.5rem;
  margin: 0;
  color: #fff;
}

.footer a {
  margin-right: 1rem;
}

.footer a:hover {
  border-bottom: solid 3px #fff;
}

.line {
  display: block;
  height: .2rem;
  width: 100%;
  transform: rotate(-45deg);
  background: #ff6600;
  position: relative;
  right: -25rem;
  opacity: 0.8;
}
