.pulseNavContainer {
	width: 100%;
	height: 6rem;
	background: #373F3A;
	line-height: 6rem;
	display: flex;
	justify-content: space-between;
}

.pulseNavContainer > b > svg {
	fill: #9594E8;
}

.pulseNavContainer > b {
	margin-left: 1rem;
	font-size: 2rem;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	color: #9594E8;
}

.pulseNav {
	margin-right: 1rem;
	display: flex;
	flex-grow: 0.4;
}

.pulseNav a {
	flex: 1;
	text-decoration: none;
	transition: color .2s;
	text-transform: uppercase;
  font-family: Tahoma, Geneva, sans-serif;
  letter-spacing: 2px;
}

.pulseNav a:hover {
	color: #E1EFE6 !important;
}

.pulseNav a,
.pulseNav a:visited {
	color: #fff;
}
